/* I am not a frontend dev. I dabble, I experiment, and I mess up a lot. */

/***********************************/
/********** Global Styles **********/
/***********************************/
body {
  background-color: rgb(243, 240, 235);
  font-family: "Roboto Slab", serif;
  font-size: 1rem;
  color: rgb(96, 87, 2);
}

a,
a:hover {
  text-decoration: none;
  color: rgb(96, 87, 2);
}

p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#root {
  max-width: 900px;
  margin: 0 auto;
}

.field-name {
  display: none;
}

/***********************************/
/********** Homepage Rows **********/
/***********************************/
.index-page .row {
  background-color: rgb(255, 255, 255);
  display: grid;
  margin-bottom: 10px;
  grid-template-columns: 1fr 2fr;
  grid-auto-rows: 0;
  grid-template-areas:
    "thumbnail name ."
    "thumbnail description .";
  overflow-y: hidden;
  grid-template-rows: repeat(4, min-content);
}

.index-page .row:hover {
  grid-template-areas:
    "thumbnail name read"
    "thumbnail description read";
}

.index-page .row .Thumbnail {
  grid-area: thumbnail;
}

.index-page .row .Name {
  grid-area: name;
  font-family: "Proza Libre", sans-serif;
  font-size: 2rem;
  margin: 20px 20px 0 20px;
  color: rgb(126, 115, 3);
}

.index-page .row .Description {
  grid-area: description;
  margin: 0 20px 20px 20px;
}

.index-page .row .Thumbnail img {
  width: 100%;
  display: block;
}

.index-page .row::before {
  content: "READ MORE";
  background-color: rgb(66, 88, 163);
  writing-mode: vertical-lr;
  width: 48px;
  height: 100%;
  color: #fafafa;
  text-align: center;
  font-weight: bold;
  display: flex;
  justify-content: center;
  flex-flow: column;
  grid-row: 1 / span 4;
  grid-column: last;
  grid-area: read;
  margin-left: 8px;
}
