body {
  background-color: rgb(222, 219, 218);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#root {
  max-width: 900px;
  margin: 0 auto;
}

.field-name {
  display: none;
}

.row {
  background-color: rgb(255, 255, 255);
  display: grid;
  margin-bottom: 10px;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  grid-template-areas:
    "thumbnail name ."
    "thumbnail description .";
  overflow-y: hidden;
}

.row .Thumbnail {
  grid-area: thumbnail;
}

.row .Name {
  grid-area: name;
}

.row .Description {
  grid-area: description;
}

.row .Thumbnail img {
  width: 100%;
  display: block;
}
